/* eslint-disable */
<% if (cjs) {
	_.forEach(_.zip(cjs.split(', '), param.split(', ')), function(x) {
		const [path, name] = x;
		%>import <%= name %> from <%= path %><%
	});
} %>
<%= contents %>
export default { <%= exports %> }
